.totalTransaction {
  box-shadow: 0 0 0 1px #000000;
  padding: 20px;
  width: 350px;
}

.totalTurnover {
  box-shadow: 0 0 0 1px #000000;
  padding: 20px;
  width: 350px;
  /* background-color: aqua; */
}

/* Box Titles Data */
.box-title {
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

/* Text color in the alaytics box */
p {
  color: #000000;
}

.incomeCategories {
    box-shadow: 0 0 0 1px #000000;
    padding: 20px;
  
}

.expensesCategories {
    box-shadow: 0 0 0 1px #000000;
    padding: 20px;

}