.card {
  opacity: 0.95;
}

.headerFlex {
  display: flex;
  justify-content: space-between;
}

.userGroup {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}

.headercontainer {
  width: 100%;
}

@media only screen and (max-width: 430px) {
  .headercontainer {
    width: 400px;
    margin-left: -35px;
  }
  .userGroup {
    display: inline;
    font-size: 15px;
  }
  .ri-logout-box-r-line {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 415px) {
  .headercontainer {
    width: 350px;
    margin-left: -30px;
  }
  .userGroup {
    display: inline;
    font-size: 15px;
  }
  .ri-logout-box-r-line {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 390px) {
  .headercontainer {
    width: 350px;
    margin-left: -35px;
  }

  .userGroup {
    display: inline;
    font-size: 15px;
  }
  .ri-logout-box-r-line {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 360px) {
  .headercontainer {
    width: 330px;
    margin-left: -35px;
  }

  .userGroup {
    display: inline;
    font-size: 15px;
  }
  .ri-logout-box-r-line {
    margin-left: 10px;
  }
}
