/* LoginStyles.css */
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.jpg");
}

.card {
  width: 400px; /* Adjust the width as needed */
  opacity: 0.95;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(128, 128, 128);
  border: 1rem solid black;
}

.title {
  font-size: 1.5rem; /* Adjust the font size as needed */
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  margin-bottom: 1rem;
}

.button {
  width: 100%;
}

@media only screen and (max-width: 430px) {
  .card {
    width: 350px; /* Adjust the width as needed */
    opacity: 0.95;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(128, 128, 128);
    border: 1rem solid black;
  }
}

@media only screen and (max-width: 415px) {
  .card {
    width: 350px; /* Adjust the width as needed */
    opacity: 0.95;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(128, 128, 128);
    border: 1rem solid black;
  }
}

@media only screen and (max-width: 390px) {
  .card {
    width: 350px; /* Adjust the width as needed */
    opacity: 0.95;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(128, 128, 128);
    border: 1rem solid black;
  }
}

@media only screen and (max-width: 375px) {
  .card {
    width: 350px; /* Adjust the width as needed */
    opacity: 0.95;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(128, 128, 128);
    border: 1rem solid black;
  }
}
