@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  font-family: 'Montserrat', sans-serif !important;
}

/* .html{
  color-scheme: dark;
} */


.h-screen{
  height:  100vh;
}

.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.justify-end{
  justify-content: flex-end;
}

/* The background color of the whole page */
.items-center{
  align-items: center;
  background-color: transparent;
}

.items-end{
  align-items: flex-end;
  /* background-color: aquamarine; */
  background-color: transparent;
}

/* .body{
  background-color: blueviolet;
} */

.loader-parent{
  position: absolute;
  height: 100vh;
  inset: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 9999;
  background-color: transparent
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

i {
  font-size: 1.2rem;
  cursor: pointer;
}

/* The input boxes */
input{
  border: 1px solid rgb(0, 0, 0) !important;
}

.container{
  height: 85vh;
  
}

/* Register page box */
.mantine-kqtkfz{
  background-color: transparent;
}

.mantine-17123y{
  background-color: transparent;
}

/* The login page box and the register page box */
.mantine-ylyj0r{
  /* background-color: rgb(131, 27, 228); */
  background-color: rgb(37, 96, 81);
  /* background-color: transparent; */
  /* cursor: crosshair; */
}

/* The second box made on the analytics page */
.mantine-1rvnwq9{
  height: 100% !important;
  overflow-y: scroll !important ;
  background-color: #ffffff;
}


/* heading bar of the analytics box */
.mantine-9gkgch{
  background-color: rgb(24, 150, 102);
}


/* The boxes of the anayltics page */
.mantine-l7123y{
  background-color: transparent;
}

/* .login{
    background-color: #000000;
    padding: 20px;  
} */
/* 
:root {
  --background-color: #000000;
  --text-color: #333;
} */

.ThemeToggle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ThemeToggle button {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.ThemeToggle button:hover {
  text-decoration: underline;
}

.homePage {
  background-color: rgb(255, 255, 255);
}